In [157]:
#create a malware detection ai model for a web application, starting from importing the necessary python libraries
import pandas as pd
train_data = pd.read_csv("train_vec.csv")

In [158]:
train_data.head

<bound method NDFrame.head of                         Id  BytFSize      00     01    02    03     04    05  \
0     G0xmghzaP9n2HUCNlKFZ    519680   23263   1684   590   685    676   465
1     J60pcjxyK7G2SoCsPVZz    400896   17043    643   423   612    444   339
2     4y09ZDr5jWIsNSfkFHzO    475136   18741    720   466   663    517   352
3     esXbGRDMpEzTQV5gIiaU    534528   18058    829   552   633   1023   388
4     g6WEbHmcKApIY3rsZqzo    475136   20869   1422   670   800    765   406
...                    ...       ...     ...    ...   ...   ...    ...   ...
1637  7VDXpaLOwvIh1KSN5MmG   4840448   91474   9236  2646  2539   9327  9111
1638  0gWUIudhwovMYb3NSnZA   4825600  237513  11585  6504  5762  10236  7361
1639  hl5wNixcfnCgEjp324sT   4810752   89987   9146  2716  2635   9325  8860
1640  IhRZjKUCrAsfvkJQcyuB   4825600   92074   9140  2475  2605   9408  9340
1641  3pNQ4kCvMSceHP7YzqKa   5226496  598462   3904  2897  4156   6986  3160

        06    07  ...    f7    f8    f9    fa    fb    fc    fd    fe     ff  \
0      366   489  ...   286   457   258   297   274   403   259   382   3921
1      299   453  ...   298   349   252   242   290   336   253   323   3050
2      317   394  ...   272   324   298   250   286   428   253   343   4092
3      375   400  ...   342   361   334   315   328   376   331   377   2231
4      382   522  ...   383   431   364   289   295   501   275   406   3832
...    ...   ...  ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
1637  9410  2614  ...  2454  2442  2784  2445  2808  2729  2718  2798  50788
1638  7483  4836  ...  3447  6723  3494  3396  3275  6043  4476  6672  42809
1639  8993  2429  ...  2318  2393  2423  2668  2782  2956  2706  2603  49343
1640  9056  2604  ...  2639  2405  2442  2836  2603  2432  2795  2873  49809
1641  3600  3105  ...  2770  3625  3099  3210  3096  2751  3044  2831   5660

      Class
0         1
1         1
2         1
3         1
4         1
...     ...
1637      9
1638      9
1639      9
1640      9
1641      9

[1642 rows x 259 columns]>

In [159]:
# Check for missing values in the dataset
missing_values = train_data.isnull().sum()
print(missing_values)

Id          0
BytFSize    0
00          0
01          0
02          0
           ..
fc          0
fd          0
fe          0
ff          0
Class       0
Length: 259, dtype: int64

In [160]:
train_data.dtypes

Id          object
BytFSize     int64
00           int64
01           int64
02           int64
             ...
fc           int64
fd           int64
fe           int64
ff           int64
Class        int64
Length: 259, dtype: object

In [161]:
# Iterate through each column in the DataFrame
for column in train_data.columns:
    # Attempt to convert non-numeric data to numeric, coerce errors
    train_data[column] = pd.to_numeric(train_data[column], errors='coerce')

# Now, all columns will contain numeric data where possible, with non-convertible values replaced by NaN

In [162]:
train_data.dtypes

Id          float64
BytFSize      int64
00            int64
01            int64
02            int64
             ...
fc            int64
fd            int64
fe            int64
ff            int64
Class         int64
Length: 259, dtype: object

In [163]:
# Impute missing values with mean for all columns
mean_values = train_data.mean()
train_data.fillna(mean_values, inplace=True)

In [164]:
# Impute missing values with a constant value for all columns
constant_value = 0  # Define the constant value
train_data.fillna(constant_value, inplace=True)

In [165]:
# Check for missing values in the dataset
missing_values = train_data.isnull().sum()
print(missing_values)

Id          0
BytFSize    0
00          0
01          0
02          0
           ..
fc          0
fd          0
fe          0
ff          0
Class       0
Length: 259, dtype: int64

In [166]:
train_data

,Id,BytFSize,00,01,02,03,04,05,06,07,...,f7,f8,f9,fa,fb,fc,fd,fe,ff,Class
0,0.0,519680,23263,1684,590,685,676,465,366,489,...,286,457,258,297,274,403,259,382,3921,1
1,0.0,400896,17043,643,423,612,444,339,299,453,...,298,349,252,242,290,336,253,323,3050,1
2,0.0,475136,18741,720,466,663,517,352,317,394,...,272,324,298,250,286,428,253,343,4092,1
3,0.0,534528,18058,829,552,633,1023,388,375,400,...,342,361,334,315,328,376,331,377,2231,1
4,0.0,475136,20869,1422,670,800,765,406,382,522,...,383,431,364,289,295,501,275,406,3832,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1637,0.0,4840448,91474,9236,2646,2539,9327,9111,9410,2614,...,2454,2442,2784,2445,2808,2729,2718,2798,50788,9
1638,0.0,4825600,237513,11585,6504,5762,10236,7361,7483,4836,...,3447,6723,3494,3396,3275,6043,4476,6672,42809,9
1639,0.0,4810752,89987,9146,2716,2635,9325,8860,8993,2429,...,2318,2393,2423,2668,2782,2956,2706,2603,49343,9
1640,0.0,4825600,92074,9140,2475,2605,9408,9340,9056,2604,...,2639,2405,2442,2836,2603,2432,2795,2873,49809,9
1641,0.0,5226496,598462,3904,2897,4156,6986,3160,3600,3105,...,2770,3625,3099,3210,3096,2751,3044,2831,5660,9

In [167]:
train_data.drop_duplicates(inplace=True)
train_data.reset_index(drop=True, inplace=True)
train_data.dropna(inplace=True)

In [168]:
x_train = train_data.drop(columns=['BytFSize'])
y_train = train_data['00']

In [169]:
test_data = pd.read_csv('test_vec.csv')

In [170]:
test_data.head

<bound method NDFrame.head of                          Id  BytFSize      00     01     02     03     04  \
0      jxrmMI8yPStoDdgE7Y4J   2093568    6681   1072   1329    998   1226
1      JtPFl4ewgdD78OzCMa3o   3385344    7558    944    804    883    814
2      jEAbMPelkWmNgCrGU2QY   5048320   11757   1486   1725   1310   1528
3      iwXK2bUysO0CPvBf8nTt   4766208   13864   1684   1696   1372   1548
4      Ig2DB5tSiEy1cJvV0zdw   4870144   14753   1685   1742   1235   1476
...                     ...       ...     ...    ...    ...    ...    ...
10868  ZzunjPy0bdYmGpwfAagl   4528640  187148  12504   6500   5407  13000
10869  ZzQLhP9lqTGNkmc08nWb   8493056   11230   5497   3255   3322   3440
10870  zZLboaJ5pFkQgWUnPhEM  11329024    7660   4269   3029   3143   3282
10871  ZznwuvY8CcHX9Skl2sPj   9250304   78641  53621  48346  48893  10841
10872  zZDE9Lvi7MNbfIcqGplW   9680896   39708  17867  11838  13924  10381

          05     06     07  ...    f7     f8    f9    fa    fb     fc    fd  \
0        901    906    762  ...   622    733   598   670   672    691   568
1       1072    616    723  ...   530    680   535   558   617    553   504
2       1208   1172    975  ...   882    836   914   870   881    926   787
3       1193    968    964  ...   909    905   794   817   849    887   820
4       1135   1010   1038  ...   908    879   812   853   905    882   811
...      ...    ...    ...  ...   ...    ...   ...   ...   ...    ...   ...
10868   5164   5190   4140  ...  2906   5249  2535  2179  2641   8174  2773
10869   3283   3206   3254  ...  3126   3254  3124  3144  3292   3169  3222
10870   3185   3153   3049  ...  3036   3102  3125  3076  3121   3100  3001
10871   7297   7662   8547  ...   291   6633   251   125   257   7076   772
10872  12908  16524  10735  ...   341  10996   215   270   240  17461   335

          fe     ff  Class
0        687   1006    1.0
1        571    786    1.0
2        826   1456    1.0
3        882   1842    1.0
4        805   2469    1.0
...      ...    ...    ...
10868   3667  66879    NaN
10869   3249   7112    NaN
10870   3175   5103    NaN
10871   8713  45641    NaN
10872  11951  45481    NaN

[10873 rows x 259 columns]>

In [171]:
# Iterate through each column in the DataFrame
for column in test_data.columns:
    # Attempt to convert non-numeric data to numeric, coerce errors
    test_data[column] = pd.to_numeric(test_data[column], errors='coerce')

# Now, all columns will contain numeric data where possible, with non-convertible values replaced by NaN

In [172]:
# Impute missing values with a constant value for all columns
constant_value = 0  # Define the constant value
test_data.fillna(constant_value, inplace=True)

In [173]:
# Check for missing values in the dataset
missing_values = test_data.isnull().sum()
print(missing_values)

Id          0
BytFSize    0
00          0
01          0
02          0
           ..
fc          0
fd          0
fe          0
ff          0
Class       0
Length: 259, dtype: int64

In [174]:
test_data

,Id,BytFSize,00,01,02,03,04,05,06,07,...,f7,f8,f9,fa,fb,fc,fd,fe,ff,Class
0,0.0,2093568,6681,1072,1329,998,1226,901,906,762,...,622,733,598,670,672,691,568,687,1006,1.0
1,0.0,3385344,7558,944,804,883,814,1072,616,723,...,530,680,535,558,617,553,504,571,786,1.0
2,0.0,5048320,11757,1486,1725,1310,1528,1208,1172,975,...,882,836,914,870,881,926,787,826,1456,1.0
3,0.0,4766208,13864,1684,1696,1372,1548,1193,968,964,...,909,905,794,817,849,887,820,882,1842,1.0
4,0.0,4870144,14753,1685,1742,1235,1476,1135,1010,1038,...,908,879,812,853,905,882,811,805,2469,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10868,0.0,4528640,187148,12504,6500,5407,13000,5164,5190,4140,...,2906,5249,2535,2179,2641,8174,2773,3667,66879,0.0
10869,0.0,8493056,11230,5497,3255,3322,3440,3283,3206,3254,...,3126,3254,3124,3144,3292,3169,3222,3249,7112,0.0
10870,0.0,11329024,7660,4269,3029,3143,3282,3185,3153,3049,...,3036,3102,3125,3076,3121,3100,3001,3175,5103,0.0
10871,0.0,9250304,78641,53621,48346,48893,10841,7297,7662,8547,...,291,6633,251,125,257,7076,772,8713,45641,0.0
10872,0.0,9680896,39708,17867,11838,13924,10381,12908,16524,10735,...,341,10996,215,270,240,17461,335,11951,45481,0.0

In [175]:
test_data.drop_duplicates(inplace=True)
test_data.reset_index(drop=True, inplace=True)
test_data.dropna(inplace=True)

In [176]:
x_test = test_data.drop(columns=['BytFSize'])
y_test = test_data['00']

In [177]:
print(x_train.shape)
print(x_train.dtypes)

(1642, 258)
Id       float64
00         int64
01         int64
02         int64
03         int64
          ...
fc         int64
fd         int64
fe         int64
ff         int64
Class      int64
Length: 258, dtype: object

In [178]:
print(x_test.shape)
print(x_test.dtypes)

(10869, 258)
Id       float64
00         int64
01         int64
02         int64
03         int64
          ...
fc         int64
fd         int64
fe         int64
ff         int64
Class    float64
Length: 258, dtype: object

In [179]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Assuming you have already separated your features and labels into x_train and y_train for training
# Assuming you also have x_test and y_test for testing

# Debugging: Print out column names to check for discrepancies
print("Column names of x_train:", x_train.columns)
print("Column names of x_test:", x_test.columns)

Column names of x_train: Index(['Id', '00', '01', '02', '03', '04', '05', '06', '07', '08',
       ...
       'f7', 'f8', 'f9', 'fa', 'fb', 'fc', 'fd', 'fe', 'ff', 'Class'],
      dtype='object', length=258)
Column names of x_test: Index(['Id', '00', '01', '02', '03', '04', '05', '06', '07', '08',
       ...
       'f7', 'f8', 'f9', 'fa', 'fb', 'fc', 'fd', 'fe', 'ff', 'Class'],
      dtype='object', length=258)

In [180]:
# Check for missing columns in x_test compared to x_train
missing_columns = set(x_train.columns) - set(x_test.columns)
if missing_columns:
    print("Missing columns in x_test:", missing_columns)
    # Add missing columns to x_test and fill them with appropriate default values

# Check for extra columns in x_test compared to x_train
extra_columns = set(x_test.columns) - set(x_train.columns)
if extra_columns:
    print("Extra columns in x_test:", extra_columns)
    # Remove extra columns from x_test

# Recheck column names after alignment
print("Column names of x_train after alignment:", x_train.columns)
print("Column names of x_test after alignment:", x_test.columns)

Column names of x_train after alignment: Index(['Id', '00', '01', '02', '03', '04', '05', '06', '07', '08',
       ...
       'f7', 'f8', 'f9', 'fa', 'fb', 'fc', 'fd', 'fe', 'ff', 'Class'],
      dtype='object', length=258)
Column names of x_test after alignment: Index(['Id', '00', '01', '02', '03', '04', '05', '06', '07', '08',
       ...
       'f7', 'f8', 'f9', 'fa', 'fb', 'fc', 'fd', 'fe', 'ff', 'Class'],
      dtype='object', length=258)

In [185]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Split the dataset into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Initialize the Random Forest classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the classifier
rf_classifier.fit(x_train, y_train)

# Evaluate the classifier
y_pred = rf_classifier.predict(x_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.9986203724994251
Classification Report:
               precision    recall  f1-score   support

         0.0       1.00      1.00      1.00      4343
         2.0       0.00      0.00      0.00         6

    accuracy                           1.00      4349
   macro avg       0.50      0.50      0.50      4349
weighted avg       1.00      1.00      1.00      4349

c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))